@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-color: #F9F1E0; color: #2C3E2F; overflow-x: hidden; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: #C49A2B; border-radius: 10px; }
